{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<!--===============================================================================================-->
	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--<script src="{% static 'js/Login.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
-->	


	<!--Estilo footer-->
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- WEB PROGRESIVA -->

        <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw.js')
            .then(reg => console.log('Registro de SW exitoso', reg))
            .catch(err => console.warn('Error al tratar de registrar el sw', err))
        }
        </script>
    
	
<!--===============================================================================================-->
</head>
<body>
	
{% block content %}
    {% if form.errors %}
       	<div class="alert alert-danger" role="alert">
  			Tu nombre de usuario y/o contraseña no coinciden. Inténtalo de nuevo.
		</div> 
    {% endif %}
	

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form method="post" action="{% url 'login' %}" class="login100-form validate-form flex-sb flex-w">				{% csrf_token %}
					<span class="login100-form-title p-b-51">
						🐾 LOGIN 🐾
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Se requiere nombre de Usuario">
						<input class="input100 txtUsername" type="text" name="username" placeholder="Usuario">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Se requiere Contraseña">
						<input class="input100 txtPassword" type="Password" name="password" placeholder="Contraseña">
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Recordarme
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								¿Olvidaste la Contraseña?
							</a>
						</div>
					</div>
				
						<div class="container-login100-form-btn m-t-17">
	                    	<input type="submit" name="btnEnter" class="btnEnter login100-form-btn"  value="Iniciar Sesión" >
	                    	<input type="hidden" name="next" value="{{ next }}">	
	                	</div>
                					
				</form>

{% endblock %}			

			</div>
		</div>
	</div>
	<footer>
        <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © 2020 Todos los Derechos Reservados | <a>Duoc</a>
                 </div>
            </div>
        </div>
    </footer>
	

	<div id="dropDownSelect1"></div>
	

	

</body>


</html>