{% load staticfiles %}
<html>
    <head>
        <title>Postulación</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="{% static 'js/Adopción.js' %}"></script>

        <!--Estilo footer-->
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <!-- WEB PROGRESIVA -->

        <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw.js')
            .then(reg => console.log('Registro de SW exitoso', reg))
            .catch(err => console.warn('Error al tratar de registrar el sw', err))
        }
        </script>


   <!--------------   Identificador    ------------------>         
    
        
        <div class="container-footer" style="background: #202020">
            <div class="footer">
                 <div class="copyright">
                    Bienvenido <b >{{ user.username }} !</b> 
                 </div>    
            </div>
        </div>
        

    <!--------------   Navegador    ------------------>         

        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href=""><h2>🐾 MASCOTA´S PETSHOP</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><b>Inicio</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="Tienda">Tienda</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="Adopcion">Adopción</a>
                        </div>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item disabled" href="#">Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                        </div>                        
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar item" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <br>
    </head>

    <body>
    <!--------------   Formulario   ------------------>      

        <div class="container-lg">
            <h3 class="text-center">Registro de Postulación</h3>
            
            <br>
            
            <div class="row">   
                <div class="col-12 col-sm-2 offset-sm-3">
                    Correo
                </div> 
                <div class="col-12 col-sm-4 correo">
                    <input type="text" name="txtEmail" class="txtEmail form-control form-control-sm"  maxlength="30" placeholder="Example@Email.com">
                </div>              
            </div>        


            <div class="row">   
                <div class="col-12 col-sm-2 offset-sm-3">
                    Rut
                </div>                       
                <div class="col-8 col-sm-3">
                    <input type="text" name="txtRut" class="txtRut form-control form-control-sm soloNumeros"  maxlength="8" placeholder="Ej: 13655689">
                </div> 
                <div class="col-4 col-sm-1">   
                    <input type="text" name="txtCV" class="txtCV form-control form-control-sm" maxlength="1" placeholder="Ej: K">
                </div>       
            </div>    

            <div class="row">   
                <div class="col-12 col-sm-2 offset-sm-3">
                    Nombre Completo
                </div>                      
                <div class="col-12 col-sm-4 soloLetras">
                    <input type="text" name="txtNombre" class="txtNombre form-control form-control-sm soloLetras"  maxlength="20">
                </div>      
            </div>    
                  
            <div class="row">   
                <div class="col-12 col-sm-2 offset-sm-3">
                    Fecha de Nacimiento
                </div>     
                <div class="col-12 col-sm-4 soloNumeros">
                    <input type="date" name="txtNac" class="txtNac form-control form-control-sm"  maxlength="8">
                </div>              
            </div>

            <div class="row">   
                <div class="col-12 col-sm-2 offset-sm-3">
                    Teléfono
                </div>     
                <div class="col-12 col-sm-4 soloNumeros">
                    <input type="text" name="txtTelefono" class="txtTelefono form-control form-control-sm"  maxlength="9">
                </div>              
            </div>

            <div class="row">   
                <div class="col-12 col-sm-2 offset-sm-3">
                    Región
                </div>               
                <div class="col-12 col-sm-4">
                    <select name="cmbRegion" class="cmbRegion form-control form-control-sm">
                        <option value="0">Seleccionar</option>
                        <option value="1">región de Tarapaca</option>
                        <option value="2">región de Antofagasta</option>
                        <option value="3">región de Atacama</option>
                        <option value="4">región de Coquimbo</option>
                        <option value="5">región de Valparaiso</option>
                        <option value="6">región de O'Higgins</option>
                        <option value="7">región de Maule</option>
                        <option value="8">región de Bio - Bio</option>
                        <option value="9">región de Araucania</option>
                        <option value="10">región de Los Lagos</option>
                        <option value="11">región de Aisen</option>
                        <option value="12">región de Magallanes Y Antartica</option>
                        <option value="13">región de Metropolitana</option>
                        <option value="14">región de Los Rios</option>
                        <option value="15">región de Arica y Parinacota</option>
                    </select>
                </div>          
            </div>    

             <div class="row">   
                <div class="col-12 col-sm-2 offset-sm-3">
                    Ciudad
                </div>               
                <div class="col-12 col-sm-4">
                    <select name="cmbCiudad" class="cmbCiudad form-control form-control-sm">
                        <option value="0">Seleccionar</option>
                        <option value="1">Iquique</option>
                        <option value="2">Antofagasta</option>
                        <option value="3">Copiapó</option>
                        <option value="4">La Serena</option>
                        <option value="5">Valparaiso</option>
                        <option value="6">Rancagua</option>
                        <option value="7">Talca</option>
                        <option value="8">Concepción</option>
                        <option value="9">Temuco</option>
                        <option value="10">Puerto Montt</option>
                        <option value="11">Coyhaique</option>
                        <option value="12">Magallanes</option>
                        <option value="13">Santiago</option>
                        <option value="14">Valdivia</option>
                        <option value="15">Arica</option>
                    </select>
                </div>          
            </div>    

            <div class="row">   
                <div class="col-12 col-sm-2 offset-sm-3">
                    Nivel Educacional
                </div>               
                <div class="col-12 col-sm-4">
                    <select name="cmbNE" class="cmbNE form-control form-control-sm">
                        <option value="0">Seleccionar</option>
                        <option value="1">Doctor</option>
                        <option value="2">Magíster</option>
                        <option value="3">Profesional</option>
                        <option value="4">E. Media</option>
                        <option value="5">E. Básica</option>
                        <option value="6">Otra</option>
                    </select>
                </div>          
            </div>
            
            <br>
            <br>

            <div class="row">  
                <div class="col-4 col-sm-2 offset-sm-3">
                    <input type=sumbit name="btnAtras" class="btnAtras btn btn-secondary form-control form-control-sm" value="Atrás"> 
                </div>
                <div class="col-4 col-sm-2">
                    <input type=sumbit name="btnLimpiar" class="btnLimpiar btn btn-primary form-control form-control-sm" value="Limpiar"> 
                </div>
                <div class="col-4 col-sm-2 ">
                    <input type=sumbit name="btnRegistrar" class="btnRegistrar btn btn-success form-control form-control-sm"  value="Postular">
                </div>    
            </div>
        </div>

        <br>
        <br>

        <footer>
            <div class="container-footer">
                <div class="footer">
                     <div class="copyright">
                         © 2020 Todos los Derechos Reservados | <a>Duoc</a>
                     </div>
                </div>
            </div>
        </footer>

    </body>
</html>