{% load staticfiles %}
<html>
    <head>
        <title>Inicio</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


        <!--Estilo footer-->
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <!-- WEB PROGRESIVA -->

        <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw.js')
            .then(reg => console.log('Registro de SW exitoso', reg))
            .catch(err => console.warn('Error al tratar de registrar el sw', err))
        }
        </script>


    <!--------------   Identificador    ------------------>         
    
        
        <div class="container-footer" style="background: #202020">
            <div class="footer">
                 <div class="copyright">
                    Bienvenido <b >{{ user.username }} !</b> 
                 </div>    
            </div>
        </div>
        

    <!--------------   Navegador    ------------------>         

        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="/"><h2>🐾 MASCOTA´S PETSHOP</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><b>Inicio</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="Tienda">Tienda</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="Adopcion">Adopción</a>
                        </div>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item disabled" href="#">Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                        </div>                        
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar item" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>

    
    </head>
    


    <body>
        
        <!--------------   Carrusel   ------------------>         

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/perro.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>ARNES DESDE: <span class="badge badge-secondary">$ 24990</span></h1>
                        <!--<h5> $24990  </h5>-->
                        <p>Para adientramiento y entrenamiento..</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/perro1.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>PELOTAS Y JUGUESTES DESDE: <span class="badge badge-secondary">$ 4990</span></h1>
                        <!--<h5>PELOTAS Y JUGUESTES DESDE $4990 </h5>-->
                        <p> PELOTA DE PLASTICO ESPECIAL PARA LIMPIEZA DE ENCIAS</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/perro2.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>>COLLARES DESDE: <span class="badge badge-secondary">$ 7990</span></h1>
                        <!--<h5 $ 7990</h5>-->
                        <p>COLLARES PARA PASEO 100% CUERO.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!--------------   Blog   ------------------>


        <div class="content container" >
            <div class="row">
                <div class="col-12 col-sm-12 offset-sm-1" style="border-radius: 40px;">
                    <div class="bodyb">
                        <div>
                            <h1 style="border-radius: 40px;" class="h1b  navbar navbar-expand-lg navbar-dark bg-success page-header"><a href="/">🐾 MASCOTA´S Blog</a></h1>
                        </div>
                        {% for post in posts %}
                            <div class="postb ">
                                <p> publicado: {{ post.published_date }}</p>
                                <h2 class="h2b"><a href="">{{ post.title }}</a></h2>
                                <p>{{ post.text|linebreaksbr }}</p>
                            </div>
                        {% endfor %}
                    </div>    
                </div>
            </div>
        </div>            


        <!--------------   Contacto   ------------------>         

        <footer>
           
            <div class="container-footer-all">
             
                 <div class="container-body">
     
                     <div class="colum1">
                         <h1>MASCOTA´S PETSHOP</h1>
     
                         <p>Esta compañia se dedica a la venta de implementos para mascotas, asi tambien como en el proceso de adopcion
                             de mascotas
                            .</p>
     
                     </div>
     
                     <div class="colum2">
     
                         <h1>Redes Sociales</h1>
     
                         <div class="row">
                             <a href="https:www.facebook.com">
                              <img src="{% static 'icon/facebook.png' %}">
                              <label>Siguenos en Facebook</label>
                             </a>
                         </div>
                         <div class="row">
                             <img src="{% static 'icon/twitter.png' %}">
                             <label>Siguenos en Twitter</label>
                         </div>
                         <div class="row">
                             <img src="{% static 'icon/instagram.png' %}">
                             <label>Siguenos en Instagram</label>
                         </div>
                         <div class="row">
                             <img src="{% static 'icon/google-plus.png' %}">
                             <label>Siguenos en Google Plus</label>
                         </div>
                         <div class="row">
                             <img src="{% static 'icon/pinterest.png' %}">
                             <label>Siguenos en Pinteres</label>
                         </div>
     
     
                     </div>
     
                     <div class="colum3">
     
                         <h1>Informacion Contactos</h1>
     
                         <div class="row2">
                             <img src="{% static 'icon/house.png' %}">
                             <label>Avenida Pajaritos #19874, 
                             Maipu
                             Santiago de chile
                             </label>
                         </div>
     
                         <div class="row2">
                             <img src="{% static 'icon/smartphone.png' %}">
                             <label>+56 9-514-2525</label>
                         </div>
     
                         <div class="row2">
                             <img src="{% static 'icon/contact.png' %}">
                              <label>DesarrollowebDuoc@gmail.com</label>
                         </div>
     
                     </div>
     
                 </div>
             
             </div>
             
            <div class="container-footer">
                <div class="footer">
                     <div class="copyright">
                         © 2020 Todos los Derechos Reservados | <a>Duoc</a>
                     </div>    
                </div>
            </div>
             
         </footer>
    </body>
</html>