{% load staticfiles %}
<html>
    <head>
        <title>Tienda</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!--Estilo footer-->
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    

   <!--------------   Identificador    ------------------>         
    
        
        <div class="container-footer" style="background: #202020">
            <div class="footer">
                 <div class="copyright">
                    Bienvenido <b >{{ user.username }} !</b> 
                 </div>    
            </div>
        </div>
        

    <!--------------   Navegador    ------------------>         

        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href=""><h2>🐾 MASCOTA´S PETSHOP</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><b>Inicio</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="Tienda">Tienda</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="Adopcion">Adopción</a>
                        </div>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item disabled" href="#">Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                        </div>                        
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar item" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </head>
    <body>
        <!--------------   Tienda   ------------------>
        <div class="container-lg">
        	<br>
            <h1 class="text-center">Tienda de Mascotas</h2>
            
            <br>
        </div>    
        <!--------------   Productos   ------------------>    

    {% for producto in productos %}
            <div class="col-12 col-sm-3 card card-columns container-lg" id="galeria">
                    <a href="#" data-toggle="modal" data-target="#exampleModal">
                        <img class="card-img-top" src=" {{ producto.Imagen.url }} " alt="..."> 
                    </a>
                    <div class="card-caption d-none d-md-block">
                            <h5> {{ producto.Producto }} </h5>
                            <p> {{ producto.Precio }} </p>
                    </div>
                
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-lg modal-dialog-centered" role="document">
                    <img src=" {{ producto.Imagen.url }} ">
                    </div>
                </div>
            </div>
            <br>
                    
    {% endfor %}    
    	
    	<footer>
        <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © 2020 Todos los Derechos Reservados | <a>Duoc</a>
                 </div>
            </div>
        </div>
    </footer>

    </body>
</html>